.background{
    /* background: url(../media/backgrounds/B1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    position: absolute;
    z-index: -1;
    overflow-x: hidden; */
    
}