.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    margin-top:20px;
    margin-bottom: 20px;

}

.buttons a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0, 119, 255);
    gap: 5px;
    z-index: 3;

}