.telon{
    position: absolute;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: scaleX(1.22) scaleY(1.08);
    margin-top: -10px;
}

.telon .first{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}


.telon .second{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.sello {
    font-size: 20px;
    line-height: 1.5;
    background-color: red;
    border: none;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    position: absolute;
    width: 150px;
    height:165px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -6px -6px 14px rgba(168, 23, 23, 0.7),
    -6px -6px 10px rgba(255, 84, 84, 0.5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
    font-family: 'mr_beast';
    color: aliceblue;
}

.sello-rosa {
    font-size: 20px;
    line-height: 1.5;
    background-color: rgb(255, 211, 223);
    border: none;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    position: absolute;
    width: 150px;
    height:165px;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -6px -6px 14px rgba(201, 125, 152, 0.7),
    -6px -6px 10px rgba(255, 183, 206, 0.5),
    6px 6px 8px rgba(255, 197, 225, 0.075),
    6px 6px 10px rgba(255, 202, 216, 0.15);
    text-shadow: 0px 2px 1px #ff7eb4, 0px -2px 1px #ff82b6, 2px 0px 1px #ff83b7, -2px -0px 1px #fe83b6;
    font-family: 'mr_beast';
    color: rgb(255, 255, 255);
}


.sello-lila {
    font-size: 20px;
    line-height: 1.5;
    background-color: #9C81C4;
    border: none;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    position: absolute;
    width: 150px;
    height:165px;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -6px -6px 14px rgba(53, 37, 98, 0.7),
    -6px -6px 10px rgba(219, 183, 255, 0.5),
    6px 6px 8px rgba(70, 42, 110, 0.075),
    6px 6px 10px rgba(226, 202, 255, 0.15);
    text-shadow: none;
    font-family: 'mr_beast';
    color: #43286C;
}

.sello-verde {
    font-size: 20px;
    line-height: 1.5;
    background-color: #5D9E83;
    border: none;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    position: absolute;
    width: 150px;
    height:165px;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -6px -6px 14px rgba(1, 78, 10, 0.7),
    -6px -6px 10px rgba(0, 44, 1, 0.5),
    6px 6px 8px rgba(42, 110, 45, 0.075),
    6px 6px 10px rgba(98, 128, 99, 0.15);
    text-shadow: none;
    font-family: 'mr_beast';
    color: #003d24;
}

.sello-lila2 {
    font-size: 20px;
    line-height: 1.5;
    background-color: #E0D0F5;
    border: none;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    position: absolute;
    width: 150px;
    height:165px;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -6px -6px 14px rgba(108, 82, 191, 0.7),
    -6px -6px 10px rgba(219, 183, 255, 0.5),
    6px 6px 8px rgba(101, 63, 155, 0.075),
    6px 6px 10px rgba(233, 215, 255, 0.15);
    text-shadow: none;
    font-family: 'mr_beast';
    color: #9f76d1;
}


.sello-azul {
    font-size: 20px;
    line-height: 1.5;
    background-color: #BAD4F3;
    border: none;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    position: absolute;
    width: 150px;
    height:165px;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -6px -6px 14px rgba(137, 182, 216, 0.387),
    -6px -6px 10px rgba(137, 192, 229, 0.5),
    6px 6px 8px rgba(2, 50, 94, 0.075),
    6px 6px 10px rgba(3, 30, 105, 0.15);
    text-shadow: 0px 2px 1px #7ee7ffaf, 0px -2px 1px #82e8ff99, 2px 0px 1prgba(131, 212, 255, 0.616)ff, -2px -0px 1px #83dffea0;
    font-family: 'mr_beast';
    color: #1D4391;
}

.sello-beige {
    font-size: 20px;
    line-height: 1.5;
    background-color: #EFD9C2;
    border: none;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    position: absolute;
    width: 150px;
    height:165px;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -6px -6px 14px rgba(201, 169, 125, 0.7),
    -6px -6px 10px rgba(255, 208, 183, 0.5),
    6px 6px 8px rgba(255, 228, 197, 0.075),
    6px 6px 10px rgba(255, 225, 202, 0.15);
    text-shadow: 0px 2px 1px #a7835d, 0px -2px 1px #8f775d, 2px 0px 1px #CAB298, -2px -0px 1px #a0784d;
    font-family: 'mr_beast';
    color: #fff7ee;
}

.sello-negro {
    font-size: 20px;
    line-height: 1.5;
    background-color: #333333;
    border: none;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    position: absolute;
    width: 150px;
    height: 165px;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -6px -6px 14px rgba(0, 0, 0, 0.5),
    -6px -6px 10px rgba(0, 0, 0, 0.6),
    6px 6px 8px rgba(0, 0, 0, 0.3),
    6px 6px 10px rgba(0, 0, 0, 0.4);
    font-family: 'mr_beast';
    color: white;
}
