.vestimenta{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom:20px ;
    row-gap: 10px;
}

.vestimenta img{
    width: 50px;
}

.vestimenta span{
    z-index: 1;
    text-align: center;
}